/* color palette: https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */

h1{
font-size:80px;
font-family: Palatino;/*Courier;*/
color: #ffe8d6; /*#a5a58d;*/ /*#ffe8d6*/ /*#ffe8d6*/
text-align:center;
margin:25px
}
h2 {
	font-family :Palladio;
	font-size:40px;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #a5a58d; /*#6b705c;*/
  background-color: #a5a58d; /*#6b705c;*/
  color: #ffe8d6;
  font-family: Courier;
  background-image: url("frise.png");
  background-position:bottom;
  background-repeat : repeat-x;
  background-size: 15%;
  min-height: 100vh;
}

#conteneur-page {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

#enveloppe-contenu {
	margin : 1.5em ;
}

::-webkit-scrollbar { width: 0; }
.crochet{
  margin:15px;
}

/*menu déoulant*/

      #wrap {
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 99;
        position: relative;
        background-color: #a5a58d;/*#6b705c;*/
      }
      .navbar {
        display:flex;
        height: 50px;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
      }
      .navbar li {
        height: auto;
        width: 100%;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 13px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #a5a58d;/*#6b705c;*/
      }
      .navbar a {
        padding: 18px 0;
        border-left: 1px solid #a5a58d;/*#6b705c;*/
        text-decoration: none;
        color: #ffe8d6;
        display: block;
      }
      .navbar li:hover,
      a:hover {
        background-color: #6b705c;/*#a5a58d;*/
      }
      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:hover ul {
        display: block;
      }
      .navbar li ul li {
        background-color: #a5a58d;/*#6b705c;*/
      }
      .navbar li ul li a {
        border-left: 1px solid #6b705c; /*444444*/
        border-right: 1px solid #6b705c;
        border-top: 1px solid #6b705c;
        border-bottom: 1px solid #6b705c;
      }
      .navbar li ul li a:hover {
        background-color: #6b705c;/*242323; */
      }



#pied-de-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:7em; 
}